<header>  
  <%= partial "partials/nav" %>  
</header>

<div id="Fader" class="fader">        
  <%= image_tag "plant.jpg", class: "slide" %> 
  <%= image_tag "plant3.jpg", class: "slide" %> 
  <%= image_tag "plant4.jpg", class: "slide" %>        
  <div class="fader_controls">
    <div class="page prev" data-target="prev"><%= image_tag 'prev.png'%></div>    
    <div class="page next" data-target="next"><%= image_tag 'next.png'%></div>      
  </div>
</div>

