---
title: Home Page
---
<div id="container">
<%= partial "partials/header" %> 
<section id="recent-posts">
  <h2>My Recent Posts</h2>
  	<ul>
  	  <% blog.articles[0...3].each do |article| %>
  	  <li>
  	  	<h3 class="article-title"><%= link_to article.title, article %></h3>
  	  	  <div class="article-date">
  	  	    <%= article.date.strftime('%e %B, %Y') %> 
  	  	  </div>
          <div class="article-summary">
            <%= article.summary(190, '  ...') %> 
            <h5><%= link_to 'Read more', article %></h5>
          </div>
  	  </li>
  	  <% end %> 
  	</ul>  
</section>
</div>
<%= partial "partials/footer"%> 

